{#{% extends "base.html" %}#}
{#{% block title %}Create Product{% endblock %}#}
{#{% block content %}#}
{#    <h1>Create Product</h1>#}
{#    <form method="POST" action="{% url "product_add" %}">#}
{#        {% include 'partial/product_form.html' with button_text='Create' %}#}
{#    </form>#}
{#{% endblock %}#}

{% extends "base.html" %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'index' %}">Home</a>
        </div>
    </nav>
{% endblock %}
{% block title %}Create Product{% endblock %}
{% block content %}
    <div class="container py-5">
    <div class="card bg-light text-dark my-5">
      <h5 class="card-header">Create new product</h5>
      <div class="card-body">
        <form method="POST" action="{% url "product_add" %}">
            {% include 'partial/product_form.html' with button_text='Create' %}
        </form>
      </div>
    </div>
    </div>
{% endblock %}