{% extends "base.html" %}
{% block title %}Delete Product{% endblock %}
{% block menu %}
    <li><a href="{% url 'product_detail' product.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete product "{{ product }}"?</h1>
    <form method="POST" action="{% url "product_delete" product.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm" class="btn btn-danger"></p>
        <p><a href="{% url 'product_detail' product.pk %}" class="btn btn-default">Cancel</a></p>
    </form>
{% endblock %}