{% extends 'base.html' %}
{#{% block menu %}#}
{#    <li><a href="{% url 'product_add' %}">Add Product</a></li>#}
{#{% endblock %}#}
{% block content %}
    <h1>Products:</h1>
    <hr/>
    {% for product in products %}
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price }}</p>
        <p>Category: {{ product.get_category_display }}</p>
{#        <p><a href="{% url 'article_view' article.pk %}">More...</a></p>#}
{#        <p><a href="{% url 'article_update' article.pk %}">Edit</a></p>#}
{#        <p><a href="{% url 'article_delete' article.pk %}">Delete</a></p>#}
        <hr/>
    {% endfor %}
{% endblock %}
