{% extends 'base.html' %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'index' %}">Home</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'product_add' %}">Add product</a>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="my-3">{{ product.name }}</h1>
    <p>Category: {{ product.get_category_display }}</p>
    <p>Price: {{ product.price }} $</p>
    <p>Remainder: {{ product.remainder }} p.</p>
    <div class="pre">{{ product.description }}</div>
{% endblock %}